<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order History</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/style/header.css">
    <link rel="stylesheet" href="/style/orderHistory.css">
    <script src="https://d3js.org/d3.v7.min.js"></script>

</head>
<body>

    <%- include('partials/header') %>


    <h1>ממוצע יומי של מספר ההזמנות באתר</h1>
    <div id="alert-container" style="display: none;"></div>
    <div id="chart"></div>

    
    <!-- Total Orders -->
    <div>
        <h1>הזמנות</h1>
    </div>

    <!-- Search Form -->
    <form action="/admin/orders/searchOrders" method="GET">
        <input type="text" name="q" placeholder="Search orders and users..." required>
        <button type="submit">Search</button>
    </form>


    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>User</th>
                <th>Products</th>
                <th>Total</th>
                <th>Status</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            <% orders.forEach(order => { %>
                <tr>
                    <td><%= order._id %></td>
                    <td>Name: <%= order.user.fName %> <%= order.user.lName %><br>Email: <%= order.user.gmail %></td>
                    <td>
                        <ul>
                            <% order.products.forEach(product => { %>
                                <li><%= product.title %> x <%=product.quantity %> - ₪<%= product.price * product.quantity%></li>
                            <% }) %>
                        </ul>
                    </td>
                    <td>₪<%= order.total %></td>
                    <td><%= order.status || 'N/A' %></td>
                    <td><%= order.createdAt.toDateString() %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>


    <script src="/JavaScript/adminOrders.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/views/categoryBar.js"></script>
</body>
</html>
