<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order History</title>
    <link rel="stylesheet" href="/style/orderHistory.css">
    <script src="https://d3js.org/d3.v7.min.js"></script>

</head>
<body>
    <h1>כל ההזמנות</h1>
    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>User</th>
                <th>Products</th>
                <th>Total</th>
                <th>Status</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            <% orders.forEach(order => { %>
                <tr>
                    <td><%= order._id %></td>
                    <td>Name: <%= order.user.fName %> <%= order.user.lName %><br>Email: <%= order.user.gmail %></td>
                    <td>
                        <ul>
                            <% order.products.forEach(product => { %>
                                <li><%= product.title %> x <%=product.quantity %> - ₪<%= product.price * product.quantity%></li>
                            <% }) %>
                        </ul>
                    </td>
                    <td>₪<%= order.total %></td>
                    <td><%= order.status || 'N/A' %></td>
                    <td><%= order.createdAt.toDateString() %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <div id="chart"></div>
    <div id="alert-container" style="display: none; color: red; font-weight: bold;"></div>


    <script src="/JavaScript/adminOrders.js"></script>
</body>
</html>
