<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (user) { %>
        <h1>הפרטים שלך:</h1>
        <p>שם משתמש: <%= user.userName %></p>
        <p>שם פרטי: <%= user. %></p>
        <p>שם משפחה: <%= user.lName %></p>
        <p>מספר טלפון: <%= user.tel %></p>
        <p>עיר: <%= user.city %></p>
    <% } else { %>
        <p>לצפייה בפרופיל עלייך להתחבר/להירשם לאתר</p>
    <% } %>
</body>
</html>