<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/style/profile.css">
    
</head>
<body>

    <%- include('partials/header') %>
   
    <br>
    <br>
     <main class ="container">
    <br>
    <% if (user) { %>
        <div id="user-data">
            <h1 id="title">&#9734;     הפרטים שלך  &#9734;</h1> 
            <br>
            <br>
            <!-- </div>
        <img id="private" src="/img/private.png"  class="float-end">
        </div> -->
        <div id="con">
            <div class="card">
        <div id="div1">
            <br>
            <p>שם משתמש: <%= user.userName %></p>
            <p>שם פרטי: <%= user.fName %></p>
            <p>שם משפחה: <%= user.lName %></p>
            <p> <%= user.gmail %> :אימייל</p>
            <p>מספר טלפון: <%= user.tel %></p>
            <p>עיר: <%= user.city %></p>
            <a  id="link" href="/orders/<%= user._id %>">היסטוריית ההזמנות שלי</a>
        </div>
        </div>
    <% } %>
</main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="JavaScript/categoryBar.js"></script>
</body>
</html>
