<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <h1>הפרטים שלך:</h1>
 <p> <%= user.userName %>שם משתמש: </p>
 <p>שם פרטי: <%= user.fName %></p>
 <p>שם משפחה: <%= user.lName %></p>
 <p>אימייל:<%= user.gmail %></p>
 <p>מספר טלפון:<%= user.tel %></p>
 <p>עיר: <%= user.city %></p>
</body>
</html>